.btn-item {
    border-radius: 20px;
    border: none;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 1, 0.2);
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}

.buy-now  {
    background-color: #E24800;
    padding: 5px 20px;
}
.swap-btn {
    background-color: #2E2C2B;
    padding: 5px 20px;
}
.auction-btn {
    background-color: #F7BA04;
    padding: 5px 40px;
}
.price-input {
    border: 1px solid #8E8E8E;
    background: #EDEDED;
    border-radius: 5px;
    /* padding: 2px 10px; */
    text-align: center;
    margin-top: 10px;
}
.a-icon {
    border: 1px solid #000;
    border-radius: 50%;
    padding: 2px 7px;
    margin-right: 10px;
}
.icon-small{ 
    width: 22px;
    margin-right: 10px;
}
.center-items {
    display : flex;
    align-items: center;
}
.float-pos {
    display: flex;
    justify-content: flex-start;
}
.price-p {
    width: 40%;
    border: 1px solid #B6B6B6;
    border-radius:  4px !important;
}
.tel {
    color: #E24800;
}
.flex-pos {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}
.btn-bid {
    border-radius: 20px !important;
    padding: 3px 35px !important;
    font-weight: 700 !important;
    font-size: 15px !important;
}
.border-style {
    border-radius: 10px !important;
}
.align-center {
    align-items: center;
}
.start-price {
   font-size: 15px;
}
.start-price {
    font-weight: bold;
}
.btns-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.car-item-style {
    border: 1px solid #EBEBEB;
    border-radius: 20px;
    padding: 20px;
}
