.icon-adv {
    width: 50px;
}
.header-6 {
    font-weight: bold;
    font-size: 20px;
    color: #000;
}
.margin-left {
    margin-left: 70px;
}
.advantage p {
    color: #6F6F6F;
    font-weight: 600;
    padding : 10px 80px 0 80px;
}