.icon-adv {
    width: 50px;
    background: #F7BA07;
    padding: 10px;
    border-radius: 50%;
}
.header-6 {
    font-weight: bold;
    font-size: 15px;
    color: #000;
}
.margin-left {
    margin-left: 70px;
}
.advantage p {
    color: #6F6F6F;
    font-weight: 600;
    
    font-size: 12px;
}
