.back-blue {
  background-color: #eff3fc;
}
.yellow-h {
  color: #f7ba04;
  font-size: 30px;
}
.h-bold {
  font-size: 40px;
  font-weight: 700;
}
a {
  color: black !important;
}
a:focus {
  color: #f7ba04 !important;
}
a.nav-item.nav-link:focus {
  color: #000 !important;
}

.p-5.about-pad.container-fluid {
  padding: 50px !important;
}

@media (max-width: 500px) {
  .p-5.about-pad.container-fluid {
    padding: 50px 0 0 0 !important;
  }
}
