.selectStyle.form-control {
  background: none !important;
}
.select-arrow {
    display: none !important;
}
.css-yk16xz-control{
  background: none !important;
  border: none !important;
}
.css-yk16xz-control{
  background: none !important;
  /* border: none !important; */
  border-radius: 20px;
}
.css-g1d714-ValueContaine {
   padding: 5px !important;
}
input#react-select-2-input {
  width: 100% !important;
}
/* .css-1rhbuit-multiValue {
  background-color: none !important;
  color: #fff !important;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  min-width: 0;
  box-sizing: border-box;
} */
/* .css-b8ldur-Input {
  display: none !important;
}

@media (max-width: 500px) {
  .css-b8ldur-Input {
    display: inline-block !important;
  }
} */