@import url("https://use.typekit.net/qin7miy.css");
body {
  font-family: muli, sans-serif;
}
.background { 
  background: black;
  /* background: url('../../img/main.jpg') center center no-repeat; */
  background-size: cover;  
  height: 100vh;
}
.white-fill {
  filter: brightness(0) invert(1);
  border: 2px solid #F7BA04;
  padding: 10px;
  border-radius: 50%;
  transition: transform .5s;
}
.white-fill:hover {
  transform: scale(1.1);
}
.flex-center {
    text-align: center;
    margin-top: 40px;
}
.selectStyle {
  border-radius: 10px !important;
  border: 1px solid #b8b8b8 !important;
  padding: 10px !important;
  background: #fff;
}
.form-style {
  /* border: 3px solid #F7BA04; */
  padding: 30px 20px 30px 20px;
  background: #fff;
  border-radius: 20px;
  position: relative;
  margin: 40px auto 0!important;
  /* width: 70%; */
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
}
.btn-search {
  background-color: #F7BA04 !important;
  border-radius: 20px !important;
  border: none !important;
  margin-top: 15px;
}
button.btn-search.btn.btn-primary {
  font-weight: 700;
  padding: 7px 70px !important;

}

select {
    background-color: transparent;
    border: none;
    padding: 0.5em;
  }

.arrow-down {
   width: 60px;
}


.logo-svg {
  fill: red;
}
.highlight {
  color: #F7BA04;
  font-weight: 700;
  font-size: 20px;
}