.background { 
  background: url('../../img/back-1.png') no-repeat;
  background-size: cover;  
  height: 100vh;
}
.flex-center {
    text-align: center;
    margin-top: 20vh;
}
.selectStyle {
  width: 300px !important;
  border-radius: 20px !important;
  margin-right: 10px;
  border: none !important;
}
.form-style {
  margin: 50px auto !important;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-search {

  background-color: #F7BA04 !important;
  border-radius: 20px !important;
  border: none !important;
  margin-top: 15px;

}
button.btn-search.btn.btn-primary {
  color: #000 !important;
  font-weight: 700;
  padding: 7px 80px !important;

}
.arrow-down {
   width: 60px;
}

