@import url("https://use.typekit.net/qin7miy.css");
body {
  font-family: muli, sans-serif;
}
.background { 
  background: black;
  /* background: url('../../img/main.jpg') center center no-repeat; */
  background-size: cover;  
  height: 100vh;
}
.white-fill {
  filter: brightness(0) invert(1);
  border: 2px solid #F7BA04;
  padding: 10px;
  border-radius: 50%;
  transition: transform .5s;
}
.white-fill:hover {
  transform: scale(1.1);
}
.flex-center {
    text-align: center;
    margin-top: 20vh;
}
.selectStyle {
  border-radius: 10px !important;
  border: 1px solid #b8b8b8 !important;
  background:#353C40;
  color: #fff !important;
}
.form-style {
  padding: 30px 20px 30px 20px;
  border-radius: 20px;
  position: relative;
  margin: 40px auto 0!important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-style .form-control:focus {
  background-color: #353C40;
}
.form-style .form-control {
  background-color: #353C40;
}
.btn-search {
  background-color: #F7BA04 !important;
  border-radius: 10px !important;
  border: none !important;
  margin-top: 15px;
}
button.btn-search.btn.btn-primary {
  font-weight: 700;
  padding: 7px 70px !important;

}

select {
    background-color: transparent;
    border: none;
    padding: 0.5em;
  }

.arrow-down {
   width: 60px;
}


.logo-svg {
  fill: red;
}
.highlight {
  color: #F7BA04;
  font-weight: 700;
  font-size: 20px;
}


.search-line {
  background: none;
  border: none;
  border-bottom: 1px solid #F7BA04;
  width: 300px;
  padding-top: 20px;
  transition: .5s;
}
.search-line:focus {
   outline: none !important;
   transform: translateY(10px);
   width: 400px;
   color: #fff;
   text-transform: uppercase;
}
.search-line::after {

  color: #F7BA04;
  width: 10px;
}
.search-line::placeholder {
  color: #fff;
  opacity: 0.2;
  letter-spacing: 4px;
}

.search-line:focus::placeholder {
   color: transparent;
}


@media (max-width : 500px) {
  .white-fill {
    width: 50px;
  }
  .search-line:focus {
    width: 90%;
 }
}