.yellow-back {
    background-color: #F7BA04;
    color: #000;
     /* margin-top: 60px; */
}
.img-app {
    height: 300px ;
    width : 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0.5;  
}
.center-app {
    display: flex;
    align-items: center;
    margin-right: 0 !important ;
}

.style-mob-app {
    display: flex;
    justify-content: center;
    align-items: center;
}