.color-dark {
  background: #1c1c1c;
}
.img-bank {
  width: 50%;
  text-align: center;
}
.img-bank-small {
  width: 30%;
  text-align: center;
}
.row-calcs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.color-light-dark {
  background: #262626;
}
@media (max-width: 768px) {
  .middle-img {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .img-bank {
    margin-top: 50px;
    width: 80% !important;
  }

  .first {
    margin-bottom: 60px !important;
  }
  .last-img {
    width: 80% !important;
  }
  .last-img-bank {
    width: 300px !important;
  }

  .img-bank:last-child {
    width: 100px;
    margin-bottom: 40px;
  }

  .last {
    margin-bottom: 0;
  }
}
