.card-article {
    background: none;
    margin-bottom: 20px;
    height: calc(100% - 20px);
}
a.card-button {
    padding: 5px 30px !important;
    border-radius: 20px;
    font-size: 12px !important;
    background: #056DFD;
    color: #fff !important;
    font-weight: bold !important;
}
.text-news {
    font-size: 12px;
}
.title-news {
    font-size: 15px;
}
